@charset "utf-8";
@import "tailwindcss";

/*
:root {
  --primary-color: rgba(115, 107, 200, 0.7);
  --secondary-color: #ffffff;
  --background-color: #f5f7fb;
  --text-color: #000000
}
*/


@theme {
    --color-purple-500: oklch(0.7 0.2 270);
    --primary-color: #736bc8;
    --secondary-color: #ffffff;
    --background-color: #f5f7fb;
    --text-color: #000000
}